.cabecalho {
    top: 0;
    width: 100%;
    background-color: rgb(23, 98, 106);
    height: 50px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-cabecalho {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.link-cabecalho {
    padding: 5px;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;

}

.link-cabecalho:hover {
    background-color: #3735a3;
    color: antiquewhite;
    height: 40px;
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #00d0ff, #0095ff) no-repeat center center fixed;
    margin: 0;
    padding: 0;
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

}

footer {
    height: 45px;
    width: 100%;
    padding: 0;
    background-color: blueviolet;
    position: absolute;
    bottom: 0;

}

.menu-rodape {
    margin: 0;
    padding: 0;
    background-color: rgb(23, 98, 106);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-rodape {
    padding: 5px;
    color: white;
}

a {
    text-decoration: none;
}